/* add your CSS here */
#container {
  border: 1px solid #E1DBDB;
  box-shadow: 10px 10px 5px 0px rgba(199,199,199,0.75);
  padding: 10px;
  width: 300px;
}

img {
  margin: 0;
  padding-bottom: 15px;
}
.info {
  border: 1px solid gray;
  font-size: 1.1em;
  padding: 5px;
}

ul {
  list-style-type: none;
  display: inline;
}

span {
  font-weight: bold;
}
